.container{
  .user_favotites{
    max-width: 98%;

    .user_favotites_title{
      margin-top: 11px;
      border-left: 5px solid #DBC5A4;
      margin-bottom: 50px;

      h1{
          color: #E8922F;
          margin: auto 0;
          font-size: 1.563rem;
          font-weight: bold;
          
        }
    }
  }

  .favorite_tabs{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid #DBC5A4;
    width: 90%;

    a{
      color: #DBC5A4;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 20px 0 0;
      padding: 0 15px;
      padding-bottom: 10px;
      text-decoration: none;
      // .user_favorite_btn{
      //   width: 113px;
      //   text-align: center;
      //   padding: 8px 0;
      //   color: #DBC5A4;
      //   border: 5px;
      //   border-radius: 0px;
      //   font-size: 1.563rem;
      // }
    }
    .favorite_active{
      border-bottom: 5px solid #FFB600;
    }
    .favorite_btn:hover{
      border-bottom: 5px solid #FFB600;
    }
  }

  // .user_favorite_btn:hover, .user_favorite_btn:active{
  //   border-bottom: 5px solid #FFB600;
  //   color: #DBC5A4;
  // }
    
  .content_favorite{
    background-color: #111111;
    color: #DBC5A4;
    margin-bottom: 50px;
  }

  .user_favorite_card{
    width: 160px;
    margin-top: 20px;
    background-color: transparent;
    box-sizing: unset ;
    padding: 0 10px;
    border: 1px solid #DBC5A4;
    
    .card-body{
      font-weight: 700;
      padding: 5px;

      img{
        margin: 0 auto;
        text-align: center;
        size: contain;
      }
      .heart_icon{
        color: #FF0000;
        width: 25px;
        height: 20px;

      }
      .card-text{
        .like_product_category{
          font-size: 1rem;
          color: #FFB600;
          margin-top: 12px;
        }
        button{
          -webkit-line-clamp: 2;
          overflow: hidden;
          display:-webkit-inline-box;
          -webkit-box-orient: vertical;
          line-height: 1.5rem;
        }
        
        .like_product_name{
          height: 45px;
          font-size: 0.825rem;
          color: #DBC5A4;
          margin: 8px 0 17px 0;
          -webkit-line-clamp: 2;
          overflow: hidden;
          display:-webkit-inline-box;
          -webkit-box-orient: vertical;
          line-height: 1.5rem;
          background: transparent;
          text-align: left;
          padding-left: 0;

        }

        .like_product_price{
          font-size: 1rem;
          color: #ffffff;
          letter-spacing: 0.2rem;
          margin-top: 7px;
        }

        .shopping_cart_icon{
          color: #E8922F;
        }
        // .product_btn_cart:hover{
        //   .cart path {
        //     fill: #FFB600;
        //    }
        // }
        // .product_btn_cart:active {
        //   outline: none;
        //   border-color: transparent;
        // }     
      }
    }
  }
  


  // 頁碼css
  .page{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .page_btn, .double_btn{
      color: #DBC5A4;
      font-size: 18px;
      padding:  2px 10px;
      margin-right: 10px;
      width: auto;
      border: 1px solid #DBC5A4;
      border-radius: 5px;
    }
    .double_btn{
      padding: 2px 6px;
    }
    button:hover{
      background: #888276;
    }
  }
}