.container{
  
  .forget_password_box{
    width: 580px;
    height: 300px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #181817;

    .h4{
      font-size: 1.2rem;
      font-weight: 700;
    }

    .user_register_form_control{
      border-radius: 5px;
      border: 1px solid #DBC5A4;
      color: #d5c7b3;
    }
    .login_icons{
      width: 26px;
      height: 26px;
      color: #DBC5A4;
    }

    .forget_password_btn{
      border-radius: 5px;
      background-color: #FFB600;
      color: rgb(39, 39, 39);
      width: 100%;
      align-items: center;
      font-weight: bold;
      margin: 0 auto;
    }

  }



  .google_icon{
    margin: 10px auto;
    width: 26px;
    height: 26px;
  }

}